html {
    height: 100vh;
    width: 100vw;
}

body{
    min-height: 100%;
    max-width: 100%;
    text-align: center;
    background-color: white;
    background-image: url("../imgs/fondopaisaje2.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-family: 'El Messiri', sans-serif;
    overscroll-behavior-x: none;
    color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

header {
    height: 33%;
    width: 100vw;
    background-color: hwb(0 4% 65% / 0.793);
    display: flex; 
    flex-direction: row;
    justify-content: space-between;

}

#logo {
    visibility: hidden;
    border: 1px solid white;
    width: 75px;
    height: 68px;
    /*display:none;*/
}

nav {
    display: flex; 
    flex-direction: row;
    justify-content: right;
    padding: 1px 15px;
    margin: 1px 85px 1px;
    box-sizing: content-box;
    width:10vw;
}

nav>ul {
    display: flex; 
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration:underline;
}

section {
    width:100vw;
    height:70vh;
}

div {
    display: flex; 
    flex-direction: column;
    margin: 1%;
    height: 100%;
    width: 100vw;
    position: relative;
} 

h1 {
    font-size: 250%; 
    font-weight:10;
    text-indent:-62px;
    line-height: 0.75;
    margin-top:5%;
    position: absolute; 
    left:10%; 
    display: inline-flex;
}

p {
    text-align: left;
    width: 65%;
    height: fit-content;
    position: absolute;
    top: 25%;
    left:5%;
    margin:4% 5% 1%;  
    padding-right: 5%;
}

h2 {
    align-self: flex-end;
    width: 60vh;
    font-weight: 10;
    padding:2.5%;
    text-indent: -10%;
    margin: 10% 5%;
    position: absolute;
    top: 40%;
    right: -3%;
}

footer {
    width: 100vw;
    height: 12vh;
    background-color: black;
    border-top: 3px groove #6d1212;
    border-bottom: 3px groove #6d1212;
    position: relative;
}

#rights {
    position: absolute;
    color:#6d1212;
    text-align:center;
    padding: 10px 15px;
    margin: 1px 85px 1px;
    
} 

@media only screen and (min-width: 0px) and (max-width: 350px) {

    nav {
        justify-content: center;
        margin-right: 100%;
    }    

    h1 {
        align-self: center;
        left:20%; 
    }
    
    p {
        align-self: center;
        text-align: center;
        left:10%; 
    }

    h2 {
        align-self: center;
        top: 70%;
        right:-30%;
    }

}


